
.home-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 20px 0px 0px 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: -40px 0 0 0;
}


.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 0 40px 0 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: cover;
  display: flex;
}


  @media(min-width: 600px) and (max-width: 1299px) {

    .home-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 30px;
      height: 30px;
      margin: 20px 0 0 30px;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 50px 0 0 0; 
    }
  }
