.red-fridge {
  position: relative;
  margin: -100px 0;
}

.unstaked {
  position: absolute;
  top: 50px;
  left: 110px;
}

.title {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  top: 140px;
  left: 80px;
}


.left-content {
  position: absolute;
  width: 220px;
  height: 315px;
  overflow-y: auto;
  top: 180px;
  left: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5px;
}

.scrollable-content {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  grid-row-gap: 10px;
}
.grid-item {
  width: 55px; 
  height: 55px;
}
.token-border{ 
  border: 3px solid #7cfc00;
  margin: -3px;
}

.center-container {
  position: absolute;
  top: 32%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  /* No width, letting content define size, but contained within a centered container */
}


.right-button {
  position: absolute;
  top: 21%;
  top: 21%;
  left: 72%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  transform: translate(-50%, -50%);
  background-color: #373737;
  border-radius: 20px;
}


.rigth-text-blue {
  position: absolute;
  top: 190px;
  left: 330px;
  width: 210px;
  height: 150px;
  overflow: hidden;
}

.stake {
  position: absolute;
  top: 440px;
  left: 350px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 40px;
}


.blue-fridge {
  position: relative;
}

.staked {
  position: absolute;
  top: 50px;
  left: 85px;
}

.claim {
  position: absolute;
  top: 440px;
  left: 350px;
  z-index: 1;
}

.stake-all {
  position: absolute;
  top: 50px;
  left: 360px;
}

.withdraw {
  position: absolute;
  top: 350px;
  left: 350px;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  align-items: center;
  min-width: 0;
}



@media (max-width: 599px) {

.red-fridge {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 400px;
}

.unstaked {
  position: absolute;
  top: 20px;
  left: 50px;
}

.title {
  position: absolute;
  font-weight: 600;
  font-size: 15px;
  top: 85px;
  left: 45px;
}

.left-content {
  position: absolute;
  width: 160px;
  height: 220px;
  overflow-y: auto;
  top: 110px;
  left: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5px;
}

.scrollable-content {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  width: 55px;
  height: 55px;
}


.stake-all {
  position: absolute;
  top: 20px;
  left: 215px;
}

.stake {
  position: absolute;
  top: 295px;
  left: 205px;
  z-index: 1;

}

.rigth-text {
  position: absolute;
  top: 110px;
  left: 215px;
  width: 150px;
  height: 165px;
  font-size: 14px;
}

}